In [1]:
createtbl = """
CREATE TABLE Animal
(
  AID       NUMBER(3, 0),
  AName      VARCHAR2(30) NOT NULL,
  ACategory VARCHAR2(18),

  TimeToFeed NUMBER(4,2),

  CONSTRAINT Animal_PK
    PRIMARY KEY(AID)
);
"""

In [2]:
inserts = ["INSERT INTO Animal VALUES(1, 'Galapagos Penguin', 'exotic', 0.5);", 
           "INSERT INTO Animal VALUES(2, 'Emperor Penguin', 'rare', 0.75);", 
           "INSERT INTO Animal VALUES(3, 'Sri Lankan sloth bear', 'exotic', 2.5);", 
           "INSERT INTO Animal VALUES(4, 'Grizzly bear', 'common', 3.0);", 
           "INSERT INTO Animal VALUES(5, 'Giant Panda bear', 'exotic', 1.5);",
           "INSERT INTO Animal VALUES(6, 'Florida black bear', 'rare', 1.75);", 
           "INSERT INTO Animal VALUES(7, 'Siberian tiger', 'rare', 3.25);", 
           "INSERT INTO Animal VALUES(8, 'Bengal tiger', 'common', 2.75);", 
           "INSERT INTO Animal VALUES(9, 'South China tiger', 'exotic', 2.5);", 
           "INSERT INTO Animal VALUES(10, 'Alpaca', 'common', 0.25);", 
           "INSERT INTO Animal VALUES(11, 'Llama', NULL, 3.5);"]

In [3]:
import sqlite3

In [4]:
conn = sqlite3.connect('dsc450.db') # open the connection
cursor = conn.cursor()

In [5]:
cursor.execute(createtbl)   # create the Animal table
for ins in inserts:         # insert the rows
    cursor.execute(ins)

In [6]:
cursor.execute('SELECT * FROM Animal')
table = cursor.fetchall()

In [7]:
#exporting
with open('animal.txt','wb') as outfile:
    cursor = conn.cursor()
    for row in cursor.execute('SELECT * FROM Animal'):
        erow = ','.join([str(i) for i in row]) + '\n'
        outfile.write(erow.encode())

In [8]:
outfile.close()
conn.commit()
conn.close()